#page-create-point {
    width: 90%;
    max-width: 1100px;
    /*Alinhamnto de caixa page-create-point (pelo lado de fora)*/
    margin: 0 auto 0 auto;
}

#page-create-point header {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-create-point header a {
    color: var(--title-color);
    font-weight: 700;
    display: flex;
    align-items: center;
}

#page-create-point header a span {
    margin-right: 16px;
    background-image: url('../assets/arrow-left.svg');
    width: 20px;
    height: 24px;
}

#page-create-point form {
    background-color: white;
    margin-top: 80px;
    padding: 64px; /*preenchimento*/
    border-radius: 8px;
    max-width: 730px;
    margin: 80px auto 80px auto; /*Alinhamnto do form ao centro do page-create-point*/
}

#page-create-point form h1 {
    font-size: 36px;
}

#page-create-point form fieldset {
    margin-top: 64px;
    border: 0;
}

#page-create-point form legend {
    margin-bottom: 40px;
}

#page-create-point form legend h2 {
    font-size: 24px;
}

#page-create-point form .field {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

#page-create-point form .field-group {
    display: flex;
}

#page-create-point form input,
#page-create-point form select {
    background-color: #f0f0f5;
    border: 0;
    padding: 16px 24px 16px 24px;
    font-size: 16px;
    outline: none;
    border-radius: 8px;
}

#page-create-point form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}

#page-create-point form label {
    font-size: 14px;
    margin-bottom: 8px;
}

#page-create-point form .field-group .field + .field { /*Acessa o segundo field que esta seguido por outro*/
    margin-left: 24px;
}

#page-create-point form button {
    width: 260px;
    height: 56px;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border: 0;
    margin-top: 40px;
    transition: backgroud-color 400ms;
}

#page-create-point form button:hover {
    background-color: #2fb86e;
}

#page-create-point form .items-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;   
}

#page-create-point form .items-grid li{
    background-color: #f5f5f5;
    list-style: none;
    border: 2px solid #f5f5f5;
    border-radius: 8px;
    height: 180px;
    padding: 32px 24px 16px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
}

#page-create-point form .items-grid li span{
    margin-top: 12px;
    flex: 1;
    display: flex;
    align-items: center;
    color: var(--title-color);
}

#page-create-point form .items-grid li.selected {
    background: #e1faec;
    border: 2px solid #34cb79;
}

#page-create-point form .items-grid li img,
#page-create-point form .items-grid li span {
    pointer-events: none;
}



